/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start of Styles */
html {
  height: 100%;
}

#root {
  min-height: 100vh;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.background {
  background-image: url(https://images.unsplash.com/photo-1618549653618-8a287ca52dbb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  background-size: cover;
}

/** 
  Customization per customer: 
  background
**/
.sei-1.background {
  background-image: url(https://impsauth.gws.seic.com/advmfaservices/gws/i14amfade/images/adv1ade_background.jpg);
}

.sei-2.background {
  background-image: url(https://images.unsplash.com/photo-1607269910784-aafe40882991?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80);
}

.secure.background {
  background-image: url(https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2613&q=80);
}

.secure.background {
  background-image: url(https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2613&q=80);
}

.admin.background {
  background-image: url(https://images.unsplash.com/photo-1519999482648-25049ddd37b1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2452&q=80);
}

.secure header,
.secure footer {
  background: #00435d;
}

.admin header,
.admin footer {
  background: #562400;
}

.sei-2 header,
.sei-2 footer {
  background: #7b0505;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main__container {
  padding: 3em;
  margin: 1em 0 2em;
  min-height: 60vh;
  background-image: linear-gradient(to right, #fffc 50%, #fff3);
}

#override .main__container {
  padding-top: .5em;
}

.login__terms {
  margin-top: 1.3em;
  line-height: 1.4;
  color: #585a5b;
  font-size: 13px;
  text-align: center;
  letter-spacing: -0.03em;
}

.login__terms-link {
  text-decoration: underline;
}

.btn-group {
  margin: .5em 0;
  position: relative;
  bottom: 0;
  padding: 1em 3em;
}

.btn-primary {
  color: white;
  padding: 6px 12px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  border: 0;
  background: #215395;
  border-bottom: 5px solid #0c2749;
}

header {
  background: #173B6B;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  position: relative;
  bottom: 0;
  background: #173B6B;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 8px 0;
  font-weight: 400;
  width: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

footer h3 {
  display: inline;
  padding: 0 4px;
}

.header__contact-us {
  color: white;
  font-weight: 600;
  font-size: 1.1em;
  display: flex;
  padding: 0 6px;
}

.header__icon {
  margin-left: 10px;
  font-size: 20px;
}

#override .login__terms {
  text-align: left;
}


/** Sign in Widget Override **/
#override #okta-sign-in {
  margin: initial;
  color: rgb(88, 90, 91);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

#override #okta-sign-in .auth-header {
  width: 90px;
}

#override #okta-sign-in .auth-content {
  padding: 0;
  width: 250px;
}

#override #okta-sign-in.main-container {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

#override #okta-sign-in .okta-sign-in-header {
  border: 0;
}

#override #okta-sign-in .okta-form-title {
  text-align: left;
  font-size: 24px;
  color: #585a5b;
}

#override #okta-sign-in form {
  width: 250px;
}

#override #okta-sign-in input[type="text"],
#override #okta-sign-in input[type="password"],
#override #okta-sign-in input[type="tel"] {
  box-shadow: 1px 1px 5px 0px grey inset;
  height: 2em;
  border: 1px solid #808080;
  border-radius: 0;
  padding: 0px 0px 0px 10px;
}

#override #okta-sign-in .o-form-fieldset {
  margin-bottom: 5px;
}

#override #okta-sign-in .input-fix {
  height: inherit;
}

#override #okta-sign-in .button-primary {
  text-align: left;
  background: #037EA6;
  border-color: #a0a0a0;
  font-weight: 800;
  padding: 0 12px;
  height: 40px;
}

#override #okta-sign-in .button-primary:before {
  content: "←";
  -webkit-font-smoothing: antialiased;
  transform: translate(0, 0);
  float: right;
  font-weight: normal;
  text-align: start;
  margin-top: 4px;
}

#override #okta-sign-in .button-primary:hover {
  background-color: #286090;
  border-color: #2e6da4;
}

#override #okta-sign-in .okta-form-label {
  font-size: 14px;
  font-weight: 700;
  padding: 0;
}

/* loader */
#override #okta-sign-in .beacon-container {
  bottom: 0;
}

#override #okta-sign-in .link {
  color: #037EA6;
  font-weight: 700;
  text-decoration: underline;
}

#override #okta-sign-in .sms-request-button {
  width: 100%;
  text-align: left;
  padding-left: 12px;
  font-weight: 500;
}

#override #okta-sign-in .options-wrap {
  width: 275px;
  left: -186px;
}

#override #okta-sign-in .auth-org-logo {
  display: none;
}
